<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h2 id="log-in-title">Sign up</h2>
    <div class="auth-form well">
    <%= form_for(User.new, url: registration_users_path) do |f| %>

      <%=f.label :username%>
      <div class="input-group">
        <span class="input-group-addon">@</span>
          <%= f.text_field :username, class: "form-control"%>
      </div>
      <br /><br />
      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-warning" %>
      </div>
    <% end %>
    </div>
      <%#= render partial: 'layouts/flash_errors'%>
  </div>
</div>
